

*{
    margin: 0;
    padding: 0;
}


.ig
{
    position: absolute;
}

.btn
{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size:30px;
    top:130px;
    cursor: pointer;   /*鼠标放上去变成手的形状*/

}

.btn1
{
    left: 0px;
}

.btn2
{
 left: 360px;
}


#tabs
{
    position: absolute;
    left: 100px;
    top:250px;
}

.tab_li
{
    float: left;    /*当设置为 float时， width 和 border-radius 属性才生效，为什么*/
    display: inline;
    list-style-type: none;
    background-color: green;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    border-radius: 100%;    /*设置为圆角*/
    margin: 5px;
    cursor: pointer;
}

.bg
{
    background-color: red;
}







/*
.test
{
    color: red;
}

*/