
*{
    padding: 0px;
    margin: 0px;

}

body
{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    background: #fff;
}

a
{
    text-decoration: none;
}

#shortcut-2014 a
{
    color: #666;
}

#shortcut-2014 a:hover
{
    color:  #c81623;
}

#shortcut-2014
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
}

.w
{
    margin: 0 auto;
    width: 1210px;
    background: #f1f1f1;
}



#shortcut-2014 .style-red
{
    color: #c81623;
    padding-left: 5px;
}

.fr
{
    float: right;
}

 #shortcut-2014  li.spacer
{
    width: 1px;
    height: 12px;
    background: #aaa;
    margin-top:9px;
     padding: 0px;
     overflow: hidden;
}

#shortcut-2014 li
{
   /*display: list-item;*/
    list-style-type: none;
    float: left;
    height: 30px;
    padding: 0 2px;

}

#shortcut-2014 li .dorpdown
{
    z-index: 13;
}


.dorpdown
{
    position: relative;
}

#shortcut-2014 .dt
{
    float: left;
    padding: 0 8px;
}

#shortcut-2014 #ttbar-mycity .dt
{
  padding: 0 25px 0 10px;
}


#shortcut-2014 #ttbar-mycity .item  a.selected
{
   background: #c81623;
    color: #fff
}


#shortcut-2014 #ttbar-serv .dt
{
    width: 49px;
    padding-right: 25px;
}




.cw-icon
{
    cursor:default;
    position: relative;
    zoom:1;
}

.cw-icon i
{
   display: block;
    position: absolute;
    overflow: hidden;
}



#shortcut-2014 .ci-right
{
    top: 12px;
    right: 8px;
    height: 7px;
    font:400 15px/15px consolas;
    color: #6a6a6a;
    overflow: hidden;

}

#shortcut-2014 .ci-right s
{
    position: relative;
    top: -7px;
    text-decoration: none;

}

#shortcut-2014 #ttbar-mycity .dd
{
    width:301px;
   padding: 10px 0px 10px 10px;

}



#shortcut-2014 #ttbar-serv .dd
{
    width: 170px;
    padding-bottom: 8px;

}

#shortcut-2014 .dd
{
    line-height: 24px;

}

#shortcut-2014 .dorpdown-layer
{
    top:30px;
    background: #fff;
    border: 1px solid #dddddd;
}

.dorpdown-layer
{
    display: none;
    position: absolute;
}

#shortcut-2014 #ttbar-serv .dd-spacer
{
    left: 0;
    width: 80px;
    position: absolute;
    top: -7px;
    height: 10px;
    background: #fff;
    overflow: hidden;
}


#shortcut-2014 #ttbar-serv .item-client
{
    font-weight: 700;
    padding-left: 10px;

}

#shortcut-2014 #ttbar-mycity .item
{
    float: left;
    width: 60px;
    padding: 2px 0;

}

#shortcut-2014 #ttbar-serv .item
{
    padding-left: 10px;
}


.item
{
    display: inline-block;
    width: 70px;
}

#shortcut-2014 #ttbar-serv .item-business
{
    font-weight: 700;
     border-top:1px dotted #cccccc;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 5px;

}


#top-banner
{
    width: 100%;
}

#top-banner img
{
    width: 100%;
}


#logo-2014
{
    position: relative;
    z-index: 12;
    float: left;
    width: 362px;
    height: 60px;
    /*padding: 20px 0px;*/
}

#logo-2014 .logo
{
  display: block;
    width: 270px;
    height: 60px;
    background: url(../img/logo.png);
}

#search-2014
{
    position: relative;
    z-index: 11;
    float: left;
    width: 462px;
    margin-top: 25px;


}


#search-2014 .form
{
    /*width: auto;*/
    width: 538px;
    height: 36px;

}

.search-color
{
    color: rgb(153,153,153);
}

#search-2014 .text
{
    width: 446px;
    float:left;
    height: 24px;
    line-height: 24px;
    color: #666666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #b61d1d;
    border-style:solid;
    outline:0;
    font-size: 14px;
    font-family: "微软雅黑";

}

input
{

    cursor: auto;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;


}


input,botton
{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0px;

}

button
{
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    padding: 2px 6px 3px;


}


#search-2014 .button1
{
    float: left;
    width: 82px;
    height: 36px;
    background: #b61d1d;
    border: none;
    line-height: 1;
    color: white;
    font: 16px "微软雅黑";
    cursor: pointer;

}

#search-2014 .cw-icon i
{
    top: 0px;
    left: 0px;
    width: 82px;
    height: 36px;

}


#settleup-2014
{
    margin-right: 65px;
    float: right;
    z-index: 11;
    height: 36px;
    margin-top: 25px;
}


#settleup-2014 .cw-icon
{
    width: 75px;
    height: 34px;
    line-height: 34px;
    background: #f9f9f9;
    border: 1px solid #dfdfdf;
    padding: 0 28px 0 36px;
    text-align: center;

}
/*
#settleup-2014 .ci-left
{
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../img/shop-logo.png) 0 -91px no-repeat;

}


*/




